.sticky-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
  }

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.item-enter {
    animation: slideUp 0.3s ease forwards;
}
  